<footer class="row">
    <div class="small-2 large-centered columns">
      <div class="row">
          <p>By <a href="https://twitter.com/cyhung">@cyhung</a></p>
        </div>
    </div>
  </footer>