@import url("myless.css");
.box {
  border-color: rgba(153, 0, 51, 0);
}
.box {
  background-color: #330000;
}
p {
  width: 3em;
  line-height: 22px;
}
h1 {
  font-family: Verdana;
}
.me {
  display: block;
  border: 1px solid black;
}
.me:hover {
  background-color: #ffffff;
}
.button,
.button-blue {
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 0 black;
}
.button a,
.button-blue a {
  width: 20px;
}
.button-blue {
  background: #37b9c1;
}
.mixin,
.e {
  color: #000;
  height: 100px;
}
.o {
  color: #000;
  height: 100px;
  width: 100%;
}
.e {
  width: 100%;
}
.myshadow {
  box-shadow: 1px 2px 1px #000000 !important;
  -moz-box-shadow: 1px 2px 1px #000000 !important;
  -webkit-box-shadow: 1px 2px 1px #000000 !important;
}
.myshadow2 {
  box-shadow: 1px 2px 1px #030303 !important;
  -moz-box-shadow: 1px 2px 1px #030303 !important;
  -webkit-box-shadow: 1px 2px 1px #030303 !important;
}
a.mybutton:hover {
  background-color: #e6e6e6;
  color: #333333;
  text-decoration: none;
  background-position: 0 -99px;
}
a.mybutton1:hover {
  background-color: #990000;
  color: #333333;
  text-decoration: none;
  background-position: 0 -99px;
}
a.mybutton2:hover {
  background-color: #e6e6e6;
  color: #000000;
  text-decoration: none;
  background-position: 0 -99px;
}
